<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd">

    <bean class="play.beanhide.BeanHideProcessor" init-method="init">
        <constructor-arg value="mock."/>
    </bean>

    <bean class="play.remotemock.processor.RmiRemotableBeanProcessor">
        <constructor-arg ref="rmiRegistry" />
    </bean>

    <bean name="rmiRegistry" class="play.remotemock.util.RmiRegistry">
        <constructor-arg index="0" value="localhost"/>
        <constructor-arg index="1" value="1299"/>
        <constructor-arg index="2" value="1299"/>
    </bean>

    <bean name="mock.myService" class="play.remotemockexample.stub.StubMyServiceImpl" />


</beans>